<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Eat Da Burger!</title>
    <link rel="stylesheet" href="/assets/css/burger_style.css">
    {{!-- Bulma & Fonts --}}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.0/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    <link
        href="https://fonts.googleapis.com/css2?family=Chicle&family=Faster+One&family=Fontdiner+Swanky&family=Mystery+Quest&family=Open+Sans&family=Shadows+Into+Light+Two&family=Source+Sans+Pro&family=Zilla+Slab+Highlight&display=swap"
        rel="stylesheet">

</head>

<body id="body" class="img-container">

    <header>
        <!-- Title Header -->
        <div>
            <div class="inner-container has-text-centered is-hero">

                <h1 class="is-larger">Eat Da Burger!</h1>
                Devour any burger you can get your hands on!
                <figure class="image is-128x128 " id="burgerImg">
                    <img src="/assets/img/cheeseburger-clipart.png" alt="burger">
                </figure>


                <form action="burger/create" method="POST">

                    <!-- Burger Input Box -->
                    <div class="form-group">

                        <input class="form-control has-text-centered" type="text"
                            id="new_burger required value="" name="burger_name"
                            placeholder='Enter a burger to create'></textarea>
                    </div>

                    <br>

                    <!-- Submit Button -->
                    <center>
                        <button id="search-btn-1" type="submit" class="button">Assemble my Burger!</button>
                    </center>

                </form>
            </div>

        </div>
    </header>

    {{{ body }}}
</body>

</html>