/* CSS Stylesheet */


/* All elements selected */
body {
    background-color: red;
    height: 100%;
}

/* Hamburger image */
.image {
    margin-left: auto;
    margin-right: auto;
    display: inline flow-root list-item;
    position: relative;
}


/* Site title & subtitle */
.inner-container {
    text-align: center;
    font-size: 25px;
    width: auto;
    color: rgb(246, 204, 18);
}

/* Title */
h1 {
    font-size: 60px;
    font-family: "Shadows into Light Two", sans-serif;
    font-weight: 900;
    text-decoration-line: underline;
    text-decoration-style: dotted;
    text-shadow: lightslategray;
}

/* Subtitle */
h2 {
    margin-top: -17px;
    font-family: "Fontdiner Swanky", sans-serif;
    text-align: center;
    font-weight: 400;
    text-decoration-line: underline;
}

.burger {
    font-weight: 500;
    position: absolute;
}

/* Text alignment for tiles */
.headline {
    text-align: center;

}

.tile {
    margin-left: 2rem;
    margin-right: 2rem;
    margin-top: 0;

}


/* Used to match the HTML element before background picture was assigned */
:root {
    --hue-neutral: 260;
}

.section {
    padding: 0px
}

/* Paragraph color assignment if unable to load Bulma attributes */
p {
    color: black;
}


.title:not {
    color: yellow;
}

/* Main title & subtitle color assignment */
h1.title,
.subtitle {
    color: yellow;
}

/* Subtitle emphasis */
.subtitle strong {
    color: yellow;
}

/* Burger Input */
.form-control[type="text"] {
    height: 40px;
    width: auto;
    background: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 20px;
    border: solid;
    border-radius: 50px;
    padding: 10px;
    border-color: rgb(67, 119, 121);
}

/*  Submit button */
#search-btn {
    height: auto;
    width: auto;
    /* justify-content: center; */
    /* align-items: center; */
    background: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    font-size: 15px;
    border: solid;
    border-radius: 50px;
    border-color: rgb(67, 119, 121);
}

#search-btn-1 {
    height: auto;
    width: auto;
    margin-bottom: 2rem;
    background: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    font-size: 15px;
    border: solid;
    border-radius: 50px;
    border-color: rgb(67, 119, 121);
}

#book-result.tile {
    display: table-cell;
}