.image {
    margin-left: auto;
    margin-right: auto;
    display: inline flow-root list-item;
    position: relative;
}




/* CSS Stylesheet */

 /* CSS Stylesheet from previous project for reference */


/* All elements selected */
* {
    margin: 0;
    height: 50%; 
 } 

/* Width of body */
body {
    width: 100%;
   
}

/* Background image */
.img-container {
    background: red;
    height: 140vh;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;

}

/* Site title & subtitle */
.inner-container {
    text-align: center;
    font-size: 25px;
    width: 100%;
    color: rgb(246, 204, 18);
    height: auto;
    margin-top: 900 px;
}

/* Title */
h1 {
    font-size: 60px;
    font-family: "Shadows into Light Two", sans-serif;
    font-weight: 900;
    text-decoration-line: underline;
    text-decoration-style: dotted;
    text-shadow: lightslategray;
}

/* Subtitle */
h2 {
    margin-top: -17px;
    font-family: "Fontdiner Swanky", sans-serif;
    /* font-size: 1.7em; */
    text-align: center;
    font-weight: 400;
}

/* Text alignment for tiles */
.headline {
    text-align: center;
}




/* Used to match the HTML element before background picture was assigned */
:root {
    --hue-neutral: 260;
}

.section {
    padding: 0px
}

/* Paragraph color assignment if unable to load Bulma attributes */
p {
    color: black;
}


.title:not {
    color: yellow;
}

/* Main title & subtitle color assignment */
h1.title, .subtitle {
    color: yellow;
}

/* Subtitle emphasis */
.subtitle strong {
    color: yellow;
}

/* Burger container space added below */
#search {
    margin-bottom: 50px;
}

/* Burger Input */
input[type="text"] {
    height: 40px;
    width: auto;
    background: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 20px;
    border: solid;
    border-radius: 50px;
    padding: 10px 10px;
    border-color: rgb(67, 119, 121);
}

/*  Submit button */
input[type="submit"] {
    height: 40px;
    width: auto;
    justify-content: center;
    align-items: center;
    background: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    font-size: 15px;
    border: solid;
    border-radius: 50px;
    border-color: rgb(67, 119, 121);
}

